.carouselDiv{
	background: #2196f3;
	width: 100%;
	height: 100%;
	color: white;
}
.welcomeLetter{
	font-size: 60px;
	height: 30%;
    padding-top: 100px;
	
}
.dropLetter{
	font-size: 120px;
	height: 25%;
    font-weight: bold;
}
.orderLetter{
	height: 37%;
    font-size: 20px;
}

.bottomButton{
	background: white;
	font-size: 30px;
	color: #2196f3;
	height: 12%;
	padding-top: 15px;
}
.bodydiv{
	height: 90%;
}


.bikeimg{
	height: 20%;
    padding-top: 60px;
}
.addLetter{
	height: 20%;
    font-size: 30px;
    padding: 3%;
}
.inputdiv{
	height: 20%;
}
.inputElement{
	width: 80%;
    margin: 0 10% 25px;
}
.addimage{
	height: 5%;
    width: 300px;
    margin: 10px auto;
    font-size: 20px;
}
.orLetter{
	height: 15%;
    font-size: 30px;
    padding: 5%;
}
.findimage{
	height: 5%;
	width: 300px;
	margin: auto;
	font-size: 20px;
}
.backLetter{
	height: 0%;
	float: left;
    margin: 5%;
    font-size: 20px;
    cursor: pointer;
}
.recommendLetter{
	height: 12%;
    font-size: 17px;
    padding-top: 35px;
}
.nameLetter{
	height: 8%;
    width: 250px;
    margin: auto;
    font-size: 30px;
}
.aquatonicLetter{
	height: 7%;
    font-size: 17px;
    padding-top: 10px;
}
.drinkimg{
	height: 7%;
    width: 300px;
    margin: 50px auto;
    font-size: 20px;
    line-height: 40px;
}



.contactLetter{
	height: 10%;
    font-size: 30px;
    padding: 3%;
}
.inputThdiv{
	height: 15%;
}
.inputThElement{
	width: 80%;
    margin: 0 auto 15px;
}
.mapDiv{
	height: 45%;
	width: 80%;
	margin: auto;
}
.map{
	height: 60%;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.mapLetter{
	height: 40%;
	background: #EDEDED;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	color: #2196F3;
	text-align: left;
	padding: 5px;
}




.modalFooter{
	width: 100%;
	height: 50px;
	border-top: 1px solid #ccc;
}
.modalBtnLeft{
	border-right: 1px solid #ccc;
}

.modalBtn{
	width: 50%;
	float: left;
	padding: 10px;
    font-size: 18px;
    color: #2196F3;
}
.modalBtnOne{
	width: 100%;
	float: left;
	padding: 10px;
    font-size: 18px;
    color: #2196F3;
}
.myModalHeader{
	height: 40px;
    font-size: 20px;
    padding: 15px;
}
.modalPosition{
	padding-top: 100px;
}
.mo_imgDiv{
	width: 80%;
	margin: auto;
	text-align: left;
}
.mo_img{
	float: left;
	height: 20px;
	margin: 0px 10px 20px 0px;
}